a:hover {
	background-color: #CC0000;
	color: #FFFFFF;
}

body {
	background-color: lightblue;
}

img {
	float: left;
	margin: 3px;
	border: 1px solid #000000;
	max-width: 50%;
	height: auto;
}

.row {
  border: 2px solid blue;
  display: flex;
}

.column {
  float: left;
  width: 33.33%;
  border: 2px solid blue;
  padding: 4px;
}