a:hover {
	background-color: #CC0000;
	color: #FFFFFF;
}

body {
	background-color: lightblue;
}

.row {
  border: 2px solid blue;
  display: flex;
}

.column {
  float: left;
  width: 33.33%;
  border: 2px solid blue;
  padding: 4px;
}