<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Justin Daniel's blog</title>
    <link rel='stylesheet' href='../css/portfolio.css' type='text/css'>
  </head>
  	<body>
		<div class='portfolio'>
			<h2> Justin Daniel's Programming Portfolio </h2>

			<h4> Credentials </h4>

			<ul>
				<li> Graduate of Flatiron's Full Stack Web Development Curriculum. This is a rigorous program that teaches both backend and frontend development. Students learn Ruby and OO programming, Sinatra, Ruby on Rails, HTML5, CSS3, JavaScript, jQuery, React, and many programming techniques and frameworks. Flatiron is ranked in the top 10 nationally of coding bootcamps. </li>

				<li> Has over 200 hours of experience as an online technical coach helping Flatiron students debug code; as a tech coach Justin helps students with all of the above mentioned frameworks as well as the use of Github and setting up local environments on Atom and VirtualBox. </li>

				<li> Has contributed over 380 repositories on Github at the time of writing. </li>

				<li> A veteran CodeWarrior, Justin loves solving coding challenges. He has solved over 350 coding challenges on codewars.com at the time of writing, placing him in the top 99th percentile on that popular coding site. </li>

			</ul>

			<p> Justin offers tutoring in the following programming areas: </p>
			<ul>
				<li> Ruby and basic Object Oriented programming concepts </li>

				<li> JavaScript </li>

				<li> Ruby on Rails </li>

				<li> HTML5 and CSS3 </li>

				<li> Basic Web Design </li>

			</ul>
		</div>
	 
	</body>
</html>